<% const d = new Date()
let year = d.getFullYear() %>
// <footer>
//   <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
// </footer>

<footer>
  <p class="copyright">&copy; <%= new Date().getFullYear() %> CSE Motors. All rights reserved.</p>
  <p class="designer">Designed by Emmanuel Ezechukwu</p>
</footer>