<nav>
  <ul>
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Truck</li>
  </ul>
</nav>


<nav aria-label="Main navigation">
  <button 
    id="menu-toggle" 
    aria-expanded="false" 
    aria-controls="primary-nav"
    aria-label="Toggle navigation menu"
  >☰ Menu</button>

  <ul id="primary-nav" class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="#">Custom</a></li>
    <li><a href="#">Sedan</a></li>
    <li><a href="#">SUV</a></li>
    <li><a href="#">Truck</a></li>
  </ul>
</nav>