<%# The title for this view is "Add New Classification" %>
<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

<%# Display flash messages and validation errors %> 
<%- messages() %>
<% if (errors) { const filtered=errors.array().filter(e=> e.msg !== 'Invalid value');
    if (filtered.length) { %>
    <ul class="flash-message notice">
        <% filtered.forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
<% } } %>

<form id="addClassificationForm" action="/inv/add-classification" method="post">
  <fieldset>
    <legend>New Classification</legend>
    <div class="form-group">
      <label for="classificationName">Classification Name</label>
      <p>Name must be alphabetic characters only.</p>
      <input
        type="text"
        id="classificationName"
        name="classification_name"
        required
        pattern="^[a-zA-Z]+$"
      >
    </div>
    <button type="submit" class="form-button">Add Classification</button>
  </fieldset>
</form>