<main>
  <section class="inventory-detail">
    <%- itemHTML %>
  </section>

  <p>
    <a href="/inv/type/<%= item.classification_id %>" class="btn">
      Return to Inventory
    </a>
  </p>
</main>
